/* Global CSS*/

.navbar.navbar-default {
	background: black;
	border: black;
}

.logo-color {
	color: #4eacc2;
}

.navbar-default .navbar-brand {
	font-family: 'Roboto', sans-serif;
	color: white;
}

body {
	background: black;
	font-family: 'Roboto', sans-serif;
	color: white;
}

.suites {
	position: fixed;
	bottom: 10px;
	right: 10px;
}

.footer {
	position: fixed;
	bottom: 0;
	right: 0;
	width: 100%;
	border-bottom: 8px solid #4aaaa5;
}

#contactModal {
	width: 100%;
	height: 100%;
	padding-top: 80px;
	background-color: rgba(0, 0, 0, .9);
	color: #fff;
}

.modal-header {
	background: black;
	border-bottom: none;
}

.modal-header .close {
	color: white;
	opacity: 1;
}

.modal-body {
	background: black;
}

#deck-lineup {
	width: 249px;
	float: left;
}

.git-header {
	background: #f05135;
	margin: 1px;
}

.css-header {
	background: #0071b8;
	margin: 1px;
}

.git-header p, 
.css-header p {
	color: hsla(0, 0%, 100%, .61)
}

/* Main Page CSS */

.container .jumbotron {
	padding: 0;
}

.jumbotron {
	background: black;
}

.jumbotron h1 {
	color: white;
}

.logo {
	float: left;
}

.jumbotron p {
	color: grey;
	font-size: 18px;
}

.lineup {
	padding: 0 15px 0 15px;
}

.lineup p {
	color: hsla(0, 0%, 100%, .61);
}

.about-us {
	margin-top: 2px;
}

p.tagLine {
	margin-bottom: 5px;
}


/* Sign In Page CSS */

#sign-on {
	margin: auto;
	max-width: 400px;
	border-color: #0c8385;
}

.panel-primary>#sign-heading {
	background: #0c8385;
	border-color: #0c8385;
}

.panel-body {
	background: black;
}

.form-control {
	background: #dcdee2;
}

.user-login {
	float: left;
}

#sign-btn {
	background-color: #0c8385;
	border-color: #005557;
}

.google-authenticate {
	height: 36px;
	padding: 0 8px;
}


/* Deck Selection Page CSS */

#deck-panel {
	border-color: #0c8385;
}

.panel-primary>#sign-heading {
	background: #0c8385;
	border-color: #0c8385;
}

#deckbox {
	width: 215px;
	height: 272px;
}

#gitdeck:hover {
    cursor: pointer;
}

/* Card Review Page CSS */

.card-front {
	height: 164px;
	font-size: 1.4em;
	overflow: hidden;
}

.front,
.back {
	border: 8px solid #f05135;
	border-radius: 25px;
}

.next-btn {
	background-color: black;
	border-color: grey;
}

.end-deck {
	height: 216px;
}

.end-box {
	padding: 86px;
	font-size: 50px;
	text-align: center;
}

#wiki-links a {
	color: white;
}

#wiki-links p {
	color: hsla(0, 0%, 100%, .61);
}

.next-btn:hover {
	background: #0c8385;
	border-color: #0c8385;
}